.App {
  display: inline;
  align-items: center;
}

input,
textarea {
  padding: 10px 20px;
  margin: 40px;
}

#form {
  display: flex;
  align-content: center;
  gap: 10px;
}

button {
  background-color: rgba(219, 219, 219, 0.822);
  padding: 10px 20px;
  border: 1px solid transparent;
  cursor: pointer;
}
button:hover {
  background-color: rgba(9, 173, 9, 0.801);
}
